<h1>Exemplo de Pipes</h1>

<p>Testando o pipe Date com o valor {{ dateValue | date:'d/M/y' }}</p>
<p>Testando o pipe UpperCasePipe com o valor {{ uppercaseValue | uppercase }}</p>
<p>Testando o pipe LowerCasePipe com o valor {{ lowercaseValue | lowercase }}</p>
<p>Testando o pipe CurrencyPipe com o valor {{ currencyValue | currency:'BRL' }}</p>
<p>Testando o pipe DecimalPipe com o valor {{ decimalValue | number:'.2' }}</p>
<p>Testando o pipe PercentPipe com o valor {{ percentValue | percent:'0.0' }}</p>